SpaceEngineersBPManagerGUI/SE Resources/Definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Fri Jan 18 2019 22:43:38 GMT-0500 (Eastern Standard Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="Definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CubeBlocks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Definition" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeId" type="xs:string"></xs:element>
                          <xs:element name="SubtypeId" type="xs:string"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DisplayName" type="xs:string"></xs:element>
                    <xs:element name="Icon" type="xs:string"></xs:element>
                    <xs:element name="CubeSize" type="xs:string"></xs:element>
                    <xs:element name="Components">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Component" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Subtype" type="xs:string"></xs:attribute>
                              <xs:attribute name="Count" type="xs:int"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BlockPairName" type="xs:string"></xs:element>
                    <xs:element name="BuildTimeSeconds" type="xs:int"></xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>